.App {
  text-align: center;
  display: flex;
}

.inc-dec {
  width: 50px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.inc-dec:hover {
  background-color: #444242;
  border: none;
  color: white;
  transition: 300ms;
  cursor: pointer;
}
.reset {
  width: 100px;
  padding: 10px;
  font-size: 15px;

  margin: 15px;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.reset:hover {
  transition: 300ms;
  background-color: transparent;
  color: palevioletred;
  border: 2px solid palevioletred;
  border-radius: 5px;
}

.container {
  margin: 200px auto;
  border-radius: 10px;
  justify-content: center;
  background-color: #cccc;
  width: 300px;
  height: 300px;
  box-shadow: 3px 2px 10px gray;
}
.counter {
  margin: 10px;
  color: #444242;
  font-size: 40px;
}

h1 {
  color: #444242;
}
.counter::selection {
  background-color: palevioletred;
}

h1::selection {
  background-color: palevioletred;
}
